@font-face {
    font-family: "Haettenschweiler";  
    src: url("../fonts/haettenschweiler.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
     }

p{
    font-family: "Haettenschweiler";  
    font-size: 40px;
}

body{
    background-color: #1B1B1B;
    margin: 0;

}
.head_lihk{
    width: 110%;
    background-color: #151515;
    font-size: 25px;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    margin: 34px 0px 0px 0px ;
    padding: 19px 10%;
    overflow: hidden;
}

.head_lihk span{
    font-size: 25px;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-transform: uppercase;
}

.wraper{
    position: relative;
    overflow-x: hidden;
}

.menu_wrap{
    position: fixed;
    left: 0;
    top: 0;
    width: 30%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #474444;
    flex-direction: column;
    transition: 0.5s;
    transform: translateX(-100%);
    z-index: 99;
}

.menu_active{
    transform: translateX(0%);
}

.content_active{
    transform: translateX(30%);
}

.content{
    transition: 0.5s;
    position: relative;
}

.menu_list{
    display: flex;
    height: 50%;
    padding-top: 20%;
    flex-direction: column;
    gap: 30px;
}

.menu_btn{
    position: absolute;
    top: 65px;
    right: -110px;
}

.menu_list a{
    text-decoration: none;
    color: white;
    font-family: "Haettenschweiler";  
    font-size: 40px;
    text-decoration: none;
    text-transform: uppercase;
}

.logo_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.logo_wrap span{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
    font-size: 20px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    background-color: #1B1B1B;
    
    padding: 0 10%;
}

.logot{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.main_but nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.main_but nav a{
    color: white;
    font-family: "Haettenschweiler";  
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
}



main{
    display: flex;
    flex-direction:column ;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10%;
}


.about_img{
    margin: 100px 0 40px 0;
    width: 100%;
    padding: 0 10%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 250px 250px 250px 250px;
    grid-template-areas: "one one one one"
                         "one one one one"
                         "one one one one"
                         "two fre four five";
}

.area1{
    grid-area: one;
    background-image: url(./image/promo_bun1.jpg);
    background-size: 70%; 
}

.area2{
    grid-area: two;
    background-image: url(./image/promo_bun.jpg);
    background-size: cover;
}

.area3{
    grid-area: fre;
    background-image: url(./image/bar.jpg);
    background-size: cover;
}

.area4{
    grid-area: four;
    background-image: url(./image/bbba.jpg);
    background-size: cover;
}

.area5{
    grid-area: five;
    background-image: url(./image/fdd.jpg);
    background-size: cover;
}

.hh{
    color: white;
    font-family: "Haettenschweiler";  
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 100px;
}

footer{
    background-color: #242424;
    border-top-right-radius: 60px;
    border-top-left-radius: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 35px 10%;
    box-shadow: 0px -20px 40px black;
}

.logo_name{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 260px;

}

.logo_name span{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
    font-size: 20px;
}

.foot_if{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 92px;
    gap: 100px;
    margin-left: 18px;
}

.menu{
   display: flex;
   flex-direction: column;
   align-items: flex-start; 
}

.menu span{
    font-family: "Haettenschweiler";
    font-size: 50px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.menu a{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 200;
    margin-bottom: 5px;
    font-style: normal;
    color: white;
    font-size: 30px;
    text-transform: uppercase;
}

.pr_op{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 230px;
}

.opl span{
    font-family: "Haettenschweiler";
    font-size: 50px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.opl_ic{
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 18px;
}

.pr_op p{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 30px;
}

.locat{
    display: flex;
    flex-direction: column;
gap: 18px;
}

.locat h1{
    margin: 0;
    padding: 0;
    font-family: "Haettenschweiler";
    font-size: 50px;
    color: white;
    font-weight: normal;
    text-transform: uppercase;
}

.locat span{
    font-family: "Fira Sans Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
    color: white;
    font-size: 30px;
}